asgiref==3.6.0
Django==4.1.5
django-ckeditor==6.5.1
django-js-asset==2.0.0
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
six==1.16.0
sqlparse==0.4.3
tzdata==2022.7
tzlocal==4.2
gunicorn==20.1.0
django-simple-history==3.3.0
Pillow==9.4.0
psycopg2-binary==2.9.1
whitenoise==6.3.0
django-cors-headers==3.13.0
django-extensions==3.2.3
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
djoser==2.2.0
social-auth-app-django==5.2.0
social-auth-core==4.4.2
python-dotenv==1.0.0
django-import-export==3.2.0
psycopg2==2.9.5